<!DOCTYPE html>
<html lang="en-US" class="no-js">
	<head>	
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>SR7 - EXPORT</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
		<link rel='stylesheet' id='sr7css-css' href='public/css/sr7.css' media='all' />

		<script src="public/js/libs/tptools.js" id="_tpt-js" async></script>
		<script src="public/js/sr7.js" id="sr7-js" async></script>
		<script src="public/js/page.js" id="sr7-page-js" async></script>

		<script>
	window._tpt			??= {};
	window.SR7			??= {};
	_tpt.R				??= {};
	_tpt.R.fonts		??= {};
	_tpt.R.fonts.customFonts??= {};
	SR7.devMode			=  false;
	SR7.F 				??= {};
	SR7.G				??= {};
	SR7.LIB				??= {};
	SR7.E				??= {};
	SR7.E.gAddons		??= {};
	SR7.E.php 			??= {};
	SR7.E.nonce			= 'bc84a91168';
	SR7.E.ajaxurl		= '';
	SR7.E.resturl		= '';
	SR7.E.slug_path		= 'revslider/revslider.php';
	SR7.E.slug			= 'revslider';
	SR7.E.plugin_url	= '';
	SR7.E.wp_plugin_url = '';
	SR7.E.revision		= '6.7.13';
	SR7.E.fontBaseUrl	= '//fonts.googleapis.com/css2?family=';
	SR7.G.breakPoints 	= [1240,1024,778,480];
	SR7.E.modules 		= ['module','page','slide','layer','draw','animate','srtools','canvas','defaults','carousel','navigation','media','modifiers'];
	SR7.E.libs 			= ['WEBGL'];
	SR7.E.css 			= ['csslp','cssbtns','cssfilters','cssnav','cssmedia'];
	SR7.E.resources		= {};
	SR7.JSON			??= {};
</script>
	</head>
	
	<body>

				<p class="rs-p-wp-fix"></p>
				<sr7-module data-alias="001-Bounce" data-id="2" id="home" class="rs-respect-topbar rs-ov-hidden" data-version="6.7.13">
					<sr7-adjuster></sr7-adjuster>
					<sr7-content>
						<sr7-slide id="SR7_2_1-3" data-key="3">
							<sr7-txt id="Letter4ID" class="sr7-layer">n</sr7-txt>
							<sr7-txt id="Letter6ID" class="sr7-layer">e</sr7-txt>
							<sr7-txt id="Letter3ID" class="sr7-layer">u</sr7-txt>
							<sr7-txt id="Letter2ID" class="sr7-layer">o</sr7-txt>
							<sr7-txt id="Letter5ID" class="sr7-layer">c</sr7-txt>
							<sr7-txt id="Letter1ID" class="sr7-layer">b</sr7-txt>
							<sr7-txt id="ContentID" class="sr7-layer">TEXT UNDER THE BOUNCE</sr7-txt>
						</sr7-slide>
						<sr7-slide id="SR7_2_1-4" data-key="4">
						</sr7-slide>
					</sr7-content>
				</sr7-module>
				<script>
					SR7.PMH ??={}; SR7.PMH["SR7_2_1"] = {cn:0,state:false,fn: function() { if (_tpt!==undefined && _tpt.prepareModuleHeight !== undefined) {  _tpt.prepareModuleHeight({id:"SR7_2_1",el:[1920,1920,768,960,720],type:'standard',shdw:'0',gh:[1920,1920,1820,1383,853],gw:[1080,1080,1024,778,480],vpt:['100px'],size:{fullWidth:false, fullHeight:false},mh:'0',onh:0,onw:0,bg:{color:'{"type":"solid","orig":"rgba(12, 12, 12, 0)","string":"rgba(12, 12, 12, 0)"}'}});   SR7.PMH["SR7_2_1"].state=true;} else if((SR7.PMH["SR7_2_1"].cn++)<100)	setTimeout( SR7.PMH["SR7_2_1"].fn,19);}};SR7.PMH["SR7_2_1" ].fn();
				</script>

<script>
	SR7.E.resources.transitionpack = "revslider-transitionpack-addon/public/js/transitionpack.js";
	SR7.E.resources.tpackURL = "./revslider-transitionpack-addon/";
	SR7.JSON['SR7_2_1'] = 'assets/SR7_2_1.json';
	if (SR7.F.init) SR7.F.init(); // DOUBLE CALL NOT A PROBLEM, MANAGED IN INIT
	document.addEventListener('DOMContentLoaded', function() {if (SR7.F.init) SR7.F.init();});
	window.addEventListener('load', function() {if (SR7.F.init) SR7.F.init(); });
	SR7.E.v6v7ids ??= {}
	SR7.E.v6v7ids = JSON.parse('{\"n\":{\"2\":3},\"s\":{\"2\":4}}');
</script>

		</body>
	</html>
		